<div class="items">
    <div class="global-container">
        <div class="items__wrapper">
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item__header">
                    <p class="item__heading">
                        Ресурс пропонує комплексні пропозиції
                         з різним рівнем функціоналу та сервісів.
                          Все це дозволить відвідувачу отримати вичерпні відомості
                           про компанію чи приватну особу.
                    </p>
                </div>
                <div class="item__footer">
                    <p class="item__footer--title">
                        Технокряк
                    </p>
                    <p class="item__footer--subtitle">
                        Веб-сайт
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>