<div class="tabs">
    <div class="tabs__wrapper">
        <div class="tabs__item">
            <p class="tabs__item--text">
                Усі
            </>
        </div>
        <div class="tabs__item">
            <p class="tabs__item--text">
                Веб-сайти
            </p>
        </div>
        <div class="tabs__item">
            <p class="tabs__item--text">
                Додатки
            </p>
        </div>
        <div class="tabs__item">
            <p class="tabs__item--text">
                Дизайн
            </p>
        </div>
        <div class="tabs__item">
            <p class="tabs__item--text">
                Маркетинг
            </p>
        </div>
    </div>
</div>