<section class="clients">
    <div class="global-container">
        <div class="clients__wrapper">
            <div class="clients__title">
                Постійні клієнти
            </div>
            <ul class="clients__list">
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
                <li class="clients__item">
                    <div class="clients__item--icon"></div>
                </li>
            </ul>
        </div>
    </div>
</section>