<section class="team">
    <div class="global-container">
        <p class="team__title">
            Наша команда
        </p>
        <ul class="team__items">
            <li class="team__item team-item">
                <div class="team-item__img"></div>
                <div class="team-item__content">
                    <div class="team-item__description">
                        <div class="team-item__title">
                            Ігор Дем'яненко
                        </div>
                        <div class="team-item__subtitle">
                            Product Designer
                        </div>
                    </div>
                    <div class="team-item__socials team-socials">
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                    </div>
                </div>
            </li>
            <li class="team__item team-item">
                <div class="team-item__img"></div>
                <div class="team-item__content">
                    <div class="team-item__description">
                        <div class="team-item__title">
                            Ігор Дем'яненко
                        </div>
                        <div class="team-item__subtitle">
                            Product Designer
                        </div>
                    </div>
                    <div class="team-item__socials team-socials">
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                    </div>
                </div>
            </li>
            <li class="team__item team-item">
                <div class="team-item__img"></div>
                <div class="team-item__content">
                    <div class="team-item__description">
                        <div class="team-item__title">
                            Ігор Дем'яненко
                        </div>
                        <div class="team-item__subtitle">
                            Product Designer
                        </div>
                    </div>
                    <div class="team-item__socials team-socials">
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                    </div>
                </div>
            </li>
            <li class="team__item team-item">
                <div class="team-item__img"></div>
                <div class="team-item__content">
                    <div class="team-item__description">
                        <div class="team-item__title">
                            Ігор Дем'яненко
                        </div>
                        <div class="team-item__subtitle">
                            Product Designer
                        </div>
                    </div>
                    <div class="team-item__socials team-socials">
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                        <div class="team-socials__icon"></div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>