<div class="traits">
    <div class="traits__container global-container">
        <ul class="traits__wrapper">
            <li class="traits__item">
                <div class="traits__item-header">
                    <div class="traits__item-icon"></div>
                </div>
                <div class="traits__item-title">
                    УВАГА ДО ДЕТАЛЕЙ
                </div>
                <div class="traits__item-subtitle">
                    Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
                </div>
            </li>
            <li class="traits__item">
                <div class="traits__item-header">
                    <div class="traits__item-icon"></div>
                </div>
                <div class="traits__item-title">
                    ПУНКТУАЛЬНІСТЬ
                </div>
                <div class="traits__item-subtitle">
                    Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
                </div>
            </li>
            <li class="traits__item">
                <div class="traits__item-header">
                    <div class="traits__item-icon"></div>
                </div>
                <div class="traits__item-title">
                    ПЛАНУВАННЯ
                </div>
                <div class="traits__item-subtitle">
                    Так само консультація з широким активом значною мірою зумовлює.
                </div>
            </li>
            <li class="traits__item">
                <div class="traits__item-header">
                    <div class="traits__item-icon"></div>
                </div>
                <div class="traits__item-title">
                    СУЧАСНІ ТЕХНОЛОГІЇ
                </div>
                <div class="traits__item-subtitle">
                    Значимість цих проблем настільки очевидна, що реалізація планових завдань.
            </div>
        </li>
    </div>
</div>