<section class="what-we-do">
    <div class="global-container">
        <div class="what-we-do__wrapper">
            <div class="what-we-do__title">
                Чим ми займаємося
            </div>
            <div class="what-we-do__items">
                <div class="what-we-do__item">
                    <div class="what-we-do__footer">
                        <div class="what-we-do__footer-title">
                            Десктопні додатки
                        </div>
                    </div>
                </div>
                <div class="what-we-do__item">
                    <div class="what-we-do__footer">
                        <div class="what-we-do__footer-title">
                            Мобільні додатки
                        </div>
                    </div>
                </div>
                <div class="what-we-do__item">
                    <div class="what-we-do__footer">
                        <div class="what-we-do__footer-title">
                            Дизайнерські рішення
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>