<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <a class="header__logo" href="#">
                <div class="header__logo--logo"></div>
                <div class="header__logo--text">Knowledgechain</div>
            </a>
            <nav class="header__navbar navbar">
                <ul class="navbar__list">
                    <li class="navbar__list--item"></li>
                    <li class="navbar__list--item"></li>
                    <li class="navbar__list--item"></li>
                    <li class="navbar__list--item"></li>
                    <li class="navbar__list--item"></li>
                </ul>
                <div class="navbar__searchbar">
                    <input type="text" class="navbar__searchbar" placeholder="Type here to search...">
                </div>
            </nav>
            <div class="header__profile profile">
                <div class="profile__icon"></div>
                <div class="profile__icon"></div>
                <div class="profile__icon"></div>
                <p class="profile__name">AR. Jakir</p>
            </div>
        </div>
    </div>
</header>

<navbar class="mobile-navbar">
    <ul class="mobile-navbar__list">
        <li class="mobile-navbar__list--item"></li>
        <li class="mobile-navbar__list--item"></li>
        <li class="mobile-navbar__list--item"></li>
        <li class="mobile-navbar__list--item"></li>
        <li class="mobile-navbar__list--item"></li>
    </ul>
</navbar>