<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <a class="header__logo" href="index.html">
                <div class="header__logo--logo"></div>
                <div class="header__logo--text">Knowledgechain</div>
            </a>
            <nav class="header__navbar navbar">
                <ul class="navbar__list">
                    <a href="index.html" class="navbar__list--item"></a>
                    <a href="scheduler.html" class="navbar__list--item"></a>
                    <a href="teams.html" class="navbar__list--item"></a>
                    <a href="meetups.html" class="navbar__list--item"></a>
                    <a href="podcasts.html" class="navbar__list--item"></a>
                </ul>
                <div class="navbar__searchbar">
                    <input type="text" class="navbar__searchbar" placeholder="Type here to search...">
                </div>
            </nav>
            <div class="header__profile profile">
                <div class="profile__icon"></div>
                <div class="profile__icon"></div>
                <div class="profile__icon"></div>
                <p class="profile__name">AR. Jakir</p>
            </div>
        </div>
    </div>
</header>

<navbar class="mobile-navbar">
    <ul class="mobile-navbar__list">
        <a href="index.html" class="navbar__list--item"></a>
        <a href="scheduler.html" class="navbar__list--item"></a>
        <a href="teams.html" class="navbar__list--item"></a>
        <a href="meetups.html" class="navbar__list--item"></a>
        <a href="podcasts.html" class="navbar__list--item"></a>
    </ul>
</navbar>