<di class="modal">
    <div class="modal-content">
        <button class="modal-content__close-button"></button>
        <p class="modal-content__title">
            Залиште свої дані, ми вам передзвонимо
        </p>
        <form action="" class="modal-content__form">
            <div class="modal-content__input-container">
                <label for="modal-name">Ім'я</label>
                <input type="text" id="modal-name" class="modal-content__input">
            </div>
            <div class="modal-content__input-container">
                <label for="modal-phone">Телефон</label>
                <input type="text" id="modal-phone" class="modal-content__input">
            </div>
            <div class="modal-content__input-container">
                <label for="modal-email">Пошта</label>
                <input type="email" id="modal-email" class="modal-content__input">
            </div>
            <div class="modal-content__input-container">
                <label for="modal-comment">Коментар</label>
                <input type="text" id="modal-comment" class="modal-content__input modal-content__input--textarea" placeholder="Введіть текст">
            </div>
            <div class="modal-content__input-container">
                <input type="checkbox" id="modal-policies" class="modal-content__input" placeholder="Введіть текст">
                <label for="modal-policies">Погоджуюся з розсилкою та приймаю Умови договору</label>
            </div>
            <div class="modal-content__send-btn">
                <button class="button">
                    <p class="button__text">
                        Відправити
                    </p>
                </button>
            </div>
        </form>
    </div>
</div>