<div class="main-content schedule">
    <div class="create-post">
        <div class="create-post__icon"></div>
        <input placeholder="Let’s share what going on your mind..." type="text" class="create-post__input">
        <button class="create-post__create-btn">Create Post</button>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Blockchain developer best practices</div>
                    <div class="post__categories">
                        <p class="post__category">finance</p>
                        <p class="post__category">bitcoin</p>
                        <p class="post__category">crypto</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Pavel Gvay</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">The 4-step SEO framework</div>
                    <div class="post__categories">
                        <p class="post__category">seo</p>
                        <p class="post__category">blogging</p>
                        <p class="post__category">traffic</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">AR Jakir</p>
                            <p class="post__author--date">3 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">OnePay - Online Payment Processing Web App</div>
                    <div class="post__categories">
                        <p class="post__category">payment</p>
                        <p class="post__category">webapp</p>
                        <p class="post__category">uikit</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Mansurul Haque</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post__img"></div>
        <div class="post__content">
            <div class="post__item">
                <div class="post__item--head">
                    <div class="post__title">Designing User Interfaces</div>
                    <div class="post__categories">
                        <p class="post__category">design</p>
                        <p class="post__category">user interface</p>
                        <p class="post__category">designing</p>
                    </div>
                </div>
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author--icon"></div>
                        <div class="post__autor--info">
                            <p class="post__author--name">Michal Malewicz</p>
                            <p class="post__author--date">3 weeks ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>