.footer {
    background-color: #2F303A;
    padding: 60px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

}

.footer-contact {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 100px;
    &__item {
        display: flex;flex-wrap: wrap;
        flex-direction: column;
        gap: 28px;
    }
    &__link{
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.42px;
        &:hover{
            color: #FFF;
            border: none;
        }
    }
    &__logo {
        color: #FFF;
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__socials {

    }

    &__socials--title {
        
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__socials-items {
        width: 300px;
        padding: 0;
        margin: 10px auto;
        display: flex;
        gap: 10px;
    }

    &__socials-items--item {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.30);
        height: 44px;
        width: 44px;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;   
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        &:nth-child(1){
            background-image: url("../img/instagram 2.svg");
        }
        &:nth-child(2){
            background-image: url("../img/facebook 1.svg");
        }
        &:nth-child(3){
            background-image: url("../img/linkedin 1.svg");
        }
        &:nth-child(4){
            background-image: url("../img/twitter 1.svg");
        }
        &:hover{
            background-color: #2196F3;
            transition: .3s;
        }
    }
}

.footer-mailing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 12px;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
    }

    &__title {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__input {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 0.48px;
        outline: none;
        width: 400px;
        padding: 15px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}
.button {
    display: flex;
    align-items: center;
    gap: 10px;
    &__icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/icon send.svg");
    }
}

@media screen and (max-width: 768px){
    .footer-mailing{
        width: 100%;
        justify-content: center;
        &__item{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__input{
            width: 100%;
        }
    }
    .footer{
        padding: 15px;
    }
    .footer-contact{
        &__item{
            width: 100%;
            text-align: center;
        }
    }
    .button{
        width: 100%;
    }
}