.header {
    background-color: #262d34;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__logo--logo {
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 10px;
        background-image: url("../../img/icons/header/Logo.png");
    }

    &__logo--text {
        color: #FF571A;
        font-family: "Source Sans 3", sans-serif;
        font-size: 26px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }
}
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__list--item {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
            background-color: #FF4401;
            transition: .3s;
        }
        &:nth-child(1){
            background-image: url("../../img/icons/header/home.svg");
        }
        &:nth-child(2){
            background-image: url("../../img/icons/header/calendar.svg");
        }
        &:nth-child(3){
            background-image: url("../../img/icons/header/people.svg");
        }
        &:nth-child(4){
            background-image: url("../../img/icons/header/podcasts.svg");
        }
        &:nth-child(5){
            background-image: url("../../img/icons/header/Interviews.svg");
        }
    }

    &__searchbar {
        background-color: #2C353D;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 7px 15px;
        padding-right: 100px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            right: 10px;
            top: 15px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url("../../img/icons/header/search.svg");
            cursor: pointer;
        }
        @media screen and (max-width: 800px){
            width: 50px;
        }
    }
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 768px) {
        gap: 10px;
    }

    &__icon {
        height: 40px;
        width: 40px;
        background-color: #2C353D;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: .3s;
        &:hover{
            border: 1px solid #c07f30;
            transition: .3s;
        }
        &:nth-child(1){
            background-image: url("../../img/icons/header/message.svg");
        }
        &:nth-child(2){
            background-image: url("../../img/icons/header/notification.svg");
        }
        &:nth-child(3){
            background-image: url("../../img/icons/header/profile.png");
        }
    }

    &__name {
        font-size: 18px;
        color: #fff;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.mobile-navbar{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3e4246;
    padding: 14px 27px;
    z-index: 999999;
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__list--item {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
            background-color: #FF4401;
            transition: .3s;
        }
        &:nth-child(1){
            background-image: url("../../img/icons/header/home.svg");
        }
        &:nth-child(2){
            background-image: url("../../img/icons/header/calendar.svg");
        }
        &:nth-child(3){
            background-image: url("../../img/icons/header/people.svg");
        }
        &:nth-child(4){
            background-image: url("../../img/icons/header/podcasts.svg");
        }
        &:nth-child(5){
            background-image: url("../../img/icons/header/Interviews.svg");
        }
}}

