@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

ul li{
    list-style: none;
}

ul{
    padding-block-start: 0;
    margin-block-start: 0;
    padding: 0;
    margin: 0;
}

*{
    font-family: "Source Sans 3", sans-serif;
}

a{
    text-decoration: none;
}